/* Zeroing out defaults */
html, body{
    margin: 0;
    padding: 0;
    width: 100%;
}

nav{
    background-color: #2B2B2B;
}

nav a{
    vertical-align: middle;
    text-decoration: none;
    display: inline-block;
    padding: 1.1em;
    margin: 0;
    color: #FCFCFC;
    font-family: Roboto, sans-serif;
}

nav a:hover{
    background-color: #4B4B4B;
}

/* Menu Icon Styling */
div.menu_icon{
    display: inline-block;
    width: auto;
    height: auto;
    margin: 0.5% 1% 0.5% 0;
    vertical-align: middle;
    float: right;
    text-align: center;
}

div.menu_icon div{
    width: 2em;
    height: 0.25em;
    margin: 5px 0;
    background-color: #18B1F9;
    transition: width 0.5s;
    border-radius: 0.1em;
}

div.menu_icon div#two{
    width: 1.25em;
}

div.menu_icon div#three{
    width: 1.75em;
}

div.menu_icon:hover div#two, 
div.menu_icon:hover div#three{
    width: 2em;
}